DATABASE_URL="postgresql://neondb_owner:npg_RO7UoG9NiPuy@ep-royal-wildflower-azk9cb9u-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SECRET_KEY="django-insecure-sskru-cs-key-2026-fallback-secret-key-change-me"
ALLOWED_HOSTS="l"ocalhost,127.0.0.1,.vercel.app,*"
DEBUG=True